:root {
    --main-color: rgb(255, 193, 68);
    --color-sidebar: #56a31e;
    --color-accent: #F5DB4E;
  }  

body{
    margin: 0;
}

.page{
    box-sizing: border-box;
}

.column{
    float: left;
}

.dummy-column{
    width: 15%;
    height: 100%;
    background-color: var(--color-sidebar);
    padding: 1em;
    font-size: 1.25em;
}

.sidebar{
    position: absolute;
    width: 15%;
    height: 100%;
    background-color: var(--color-sidebar);
    padding: 1em;
    font-size: 1.25em;
    font-weight: 500;
}

.content-column{
    width: 80%;
}

a, a:visited {
    color: rgb(54, 0, 155);
}

table {
    background-color: var(--color-accent);
    border-collapse: collapse;
    width: 100%;
  }

th, td {
    text-align: left;
    padding: .5em;
  }

tr:nth-child(even) {
    background-color: var(--main-color);
}

button, .btn {
    padding: .25em;
    transition-duration: 0.4s;
    background-color: var(--color-accent);
    border: none;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    border: 1px solid rgb(54, 0, 155);
}
  
button:hover, .btn:hover {
    background-color: whitesmoke;
}

#map { 
    width: 100%; 
    height: 700px; 
}

.error{
    padding: .5em;
    font-size: 1.3em;
    background-color: red;
    font-weight: bold;
}