<!--Template for the trail list. -->
    {% extends "layout.html" %}
    {% block content %}
        <form method="POST" action="/show_extra">
            <!-- The actual table. Only shows once somone inputs a location into the bottom form.
                 There's a radio box to select a trail once they are being displayed. This radio input sends routes.py the trails ID when the user requests a map or weather data. -->
            {% if trail_list %}
                 <table>
                    <tr>
                        <th>Trail Name</th>
                        <th>Type</th>
                        <th>Difficulty</th>
                        <th>Stars</th>
                        <th>Location</th>
                        <th>Length</th>
                        <th>Ascent</th>
                        <th>Descent</th>
                        <th>Condition</th>
                        <th>Select</th>
                        <th>More info</th>
                    </tr>
                    {% for trail in trail_list %}
                        <tr>
                            <td>{{trail.name}}</td>
                            <td>{{trail.trail_type}}</td>
                            <td>{{trail.difficulty}}</td>
                            <td>{{trail.stars}}</td>
                            <td>{{trail.location}}</td>
                            <td>{{trail.length}}</td>
                            <td>{{trail.ascent}}</td>
                            <td>{{trail.descent}}</td>
                            <td>{{trail.condition_details}}</td>
                            <td><input type="radio" id="{{trail.trail_id}}" value="{{trail.trail_id}}" name="trail_select"></td>
                            <td><a href="{{trail.url}}">X</a></td>
                        </tr>
                    {% endfor %}
                </table>
                <button name="submit_button" value="show_map"     type="Submit"> Show Map </button>
                <button name="submit_button" value="show_weather" type="Submit"> Show Weather </button>
                {% if view_saved == True %}
                    <button name="submit_button" value="delete_trail"   type="Submit"> Delete Trail </button>
                {% else %}
                    <button name="submit_button" value="save_trail"   type="Submit"> Save Trail </button>
                {% endif %}
            {% else %}
            <p>No Trails.</p>
            {% endif %}
        </form>
        {% block show_weather %}{% endblock show_weather %}
        {% block show_map %}{% endblock show_map %}
        <form method="POST" action="/find_trails">
            {{ location_form.hidden_tag() }}
            <!-- The find a trail form. User inputs city and state with some amount of verification from the form. -->
                <fieldset>
                    <legend>Find A Trail</legend>
                    <div>
                        {{ location_form.city.label() }}
                        {% if location_form.city.errors %}
                            {{ location_form.city() }}
                            <div>
                                {% for error in location_form.city.errors %}
                                    <span>{{ error }}</span>
                                {% endfor %}
                            </div>
                        {% else %}
                            {{ location_form.city() }}
                        {% endif %}
                    </div>
                    <div>
                        {{ location_form.state.label() }}
                        {% if location_form.state.errors %}
                            {{ location_form.state() }}
                            <div>
                                {% for error in location_form.state.errors %}
                                    <span>{{ error }}</span>
                                {% endfor %}
                            </div>
        
                        {% else %}
                            {{ location_form.state() }}
                        {% endif %}
                    </div>
                </fieldset>
                <div>
                    {{ location_form.submit(class_="btn") }}
                </div>
           </form>  
    {% endblock content %}  
    